<div
  class="services-area pt-120 pb-60"
  data-background="assets/img/gallery/section_bg02.jpg"
>
  <section class="h-100 gradient-form">
    <h3 class="container my-3 text-center">Claim Insurance</h3>
    <div class="container py-2 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body mx-md-4">
                  <div class="text-center">
                    <img
                      src="assets/img/logo/Logo_bg.png"
                      style="width: 85px"
                      alt="logo"
                    />
                    <!-- <h4 class="mt-1 mb-5 pb-1">Enter Vehicle Details</h4> -->
                  </div>

                  <form
                    #claimForm="ngForm"
                    (submit)="onSubmit(claimForm.value)"
                  >
                    <div class="d-flex flex-row align-items-center mb-4">
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="reason"
                          >Reason for claim
                          <strong class="text-danger">*</strong>
                        </label>
                        <div class="form-check">
                          <input
                            type="radio"
                            name="reason"
                            class="form-check-input"
                            value="Accidental Damage"
                            required
                            ngModel
                          />
                          <label for="reason" class="form-check-label"
                            >Accidental Damage</label
                          >
                        </div>
                        <div class="form-check">
                          <input
                            type="radio"
                            name="reason"
                            class="form-check-input"
                            value="Theft"
                            required
                            ngModel
                          />
                          <label for="reason" class="form-check-label"
                            >Theft</label
                          >
                        </div>
                        <div class="form-check">
                          <input
                            type="radio"
                            name="reason"
                            class="form-check-input"
                            value="Natural Disaster"
                            required
                            ngModel
                          />
                          <label for="reason" class="form-check-label"
                            >Natural Disaster</label
                          >
                        </div>
                        <div class="form-check">
                          <input
                            type="radio"
                            name="reason"
                            class="form-check-input"
                            value="Third-Party Accidental Damage"
                            required
                            ngModel
                          />
                          <label for="reason" class="form-check-label"
                            >Third-Party Accidental Damage</label
                          >
                        </div>
                      </div>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button
                        type="submit"
                        class="login-btn text-white"
                        [disabled]="claimForm.invalid"
                      >
                        Claim Now
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 sec-div align-items-center">
                <div class="hero__img">
                  <img
                    class="bike-img"
                    src="assets/img/hero/crash.png"
                    alt=""
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
