<!-- Preloader Start -->
<div id="preloader-active">
  <div class="preloader d-flex align-items-center justify-content-center">
    <div class="preloader-inner position-relative">
      <div class="preloader-circle"></div>
      <div class="preloader-img pere-text">
        <img class="resize-logo" src="assets/img/logo/Logo_bg.png" alt="" />
      </div>
    </div>
  </div>
</div>
<!-- Preloader Start -->
<header>
  <!-- Header Start -->
  <div class="header-area header-transparent">
    <div class="main-header header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-2 col-lg-2 col-md-1">
            <div class="logo">
              <a href="#"
                ><img
                  class="resize-logo"
                  src="assets/img/logo/Logo_bg.png"
                  alt=""
              /></a>
              <p class="logo-title">SafeSurance</p>
            </div>
            <div></div>
          </div>
          <div class="col-xl-10 col-lg-10 col-md-10">
            <div
              class="menu-main d-flex align-items-center justify-content-end"
            >
              <!-- Main-menu -->
              <div class="main-menu f-right d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li><a routerLink="/">Home</a></li>
                    <li>
                      <a href="#">Services</a>
                      <ul class="submenu">
                        <li><a routerLink="/buy-page">Buy Insurance</a></li>
                        <li><a href="#">Travel Insurance</a></li>
                      </ul>
                    </li>
                    <li><a href="#quote">Calculate Premium</a></li>
                    <!-- <li><a routerLink="/about">About</a></li> -->
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">FAQs</a></li>
                    <li *ngIf="checkLogin() == false">
                      <a
                        href="/login"
                        onMouseOver="this.style.color='#2C3333'"
                        style="text-decoration: none"
                        ><button type="button" class="btn btn-outline-dark">
                          Login
                        </button></a
                      >
                    </li>
                    <li *ngIf="checkLogin() == true">
                      <a>Welcome {{ userDetails.name.split(" ")[0] }}</a>
                      <ul class="submenu">
                        <li><a href="/profile/user">Profile</a></li>
                        <li>
                          <a (click)="logout()">Logout</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Header End -->
