<div
  class="services-area pt-120 pb-60"
  data-background="assets/img/gallery/section_bg02.jpg"
>
  <section class="h-100 gradient-form">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body p-md-5 mx-md-4">
                  <div class="text-center">
                    <img
                      src="assets/img/logo/Logo_bg.png"
                      style="width: 85px"
                      alt="logo"
                    />
                    <h4 class="mt-1 mb-5 pb-1" *ngIf="!checkLogin()">
                      Login to SafeSurance
                    </h4>
                    <h3 *ngIf="checkLogin()" class="mt-1 mb-5 pb-1">
                      You are already Logged in...
                    </h3>
                  </div>

                  <form
                    #loginForm="ngForm"
                    (submit)="onSubmit()"
                    *ngIf="!checkLogin()"
                  >
                    <div class="form-outline mb-4 form-group">
                      <label class="form-label" for="username">Email</label>
                      <input
                        type="email"
                        name="email"
                        class="form-control"
                        #email="ngModel"
                        placeholder="Email"
                        [(ngModel)]="loginDetails.email"
                        required
                      />
                      <div
                        *ngIf="email.touched && email.invalid"
                        class="alert alert-danger px-3"
                      >
                        <p *ngIf="email.hasError('required')">
                          email is required
                        </p>
                      </div>
                    </div>

                    <div class="form-outline mb-4 form-group">
                      <label class="form-label" for="password">Password</label>
                      <input
                        type="password"
                        name="password"
                        #password="ngModel"
                        class="form-control"
                        placeholder="Password"
                        [(ngModel)]="loginDetails.password"
                        required
                      />
                      <div
                        *ngIf="password.touched && password.invalid"
                        class="alert alert-danger px-3"
                      >
                        <p *ngIf="password.hasError('required')">
                          password is required
                        </p>
                      </div>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button
                        class="login-btn"
                        type="submit"
                        [disabled]="loginForm.invalid"
                      >
                        Log in
                      </button>
                      <a class="text-muted" href="#!">Forgot password?</a>
                      <p class="text-danger">
                        <strong>{{ errorMessage }}</strong>
                      </p>
                    </div>

                    <div
                      class="d-flex align-items-center justify-content-center pb-4"
                    >
                      <p class="mb-0 me-2">Don't have an account?</p>
                      <a
                        class="login-btn text-white"
                        type="button"
                        routerLink="/sign-in"
                      >
                        Register here
                      </a>
                      <!-- <button class="btn" type="button">Register

                        here</button> -->
                      <!-- <button type="button" class="btn btn-outline-danger">Create new</button> -->
                      <!-- <p>Don't have an account? <a href="#!" class="mb-0 me-2">Register here</a></p> -->
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                  <h4 class="mb-4" style="color: #e7f6f2">
                    Get your vehicle insured with SafeSurance
                  </h4>
                  <p class="small mb-0" style="color: #e7f6f2">
                    Affordable premiums, easy renewals, quick claim settlement
                    are some of the key features of our private vehicle
                    insurance policy.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
