<!-- This is the travel plan component -->
<!-- All the plans for a travel insurance will be shown here -->
<!-- User can click on buy button and buy the insurance -->
<div
  class="services-area pt-120 pb-60"
  data-background="assets/img/gallery/section_bg02.jpg"
>
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
    crossorigin="anonymous"
  />

  <div class="container mt-30 mb-30">
    <div class="row">
      <h2 class="text-center m-4">Explore Travel Insurance Plans</h2>
      <div class="col-12">
        <div class="row">
          <div class="col-lg-6 col-md-12 mb-4" *ngFor="let plan of allPlans">
            <div class="card card1 h-100">
              <div class="card-body">
                <h5 class="card-title">
                  {{ plan_detail[plan.plan_details - 1] }}
                </h5>
                <small class="text-muted">Individual</small>
                <br /><br />
                <span class="h2">{{ plan.amount | currency: "INR" }}</span
                >/year <br /><br />
                <div class="d-grid my-3">
                  <a
                    routerLink="/travel-plan/{{ plan.plan_id }}/checkout"
                    class="btn btn-outline-dark hero-btn"
                    data-animation="fadeInLeft"
                    data-delay=".8s"
                    >BUY NOW</a
                  >
                </div>
                <ul>
                  <ng-container *ngIf="plan.plan_details == 1">
                    <li>
                      <i class="fa fa-check"></i> Covers Medical Insurance
                    </li>
                    <li>
                      <i class="fa fa-times" aria-hidden="true"></i>
                      Loss of Passport or checked-in baggage
                    </li>
                    <li>
                      <i class="fa fa-times"></i> Trip cancellation & Delay
                    </li>
                    <li><i class="fa fa-check"></i> Compassionate visit</li>
                  </ng-container>
                  <ng-container *ngIf="plan.plan_details == 2">
                    <li>
                      <i class="fa fa-check"></i> Covers Medical Insurance
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      Loss of Passport or checked-in baggage
                    </li>
                    <li>
                      <i class="fa fa-times"></i> Trip cancellation & Delay
                    </li>
                    <li><i class="fa fa-check"></i> Compassionate visit</li>
                  </ng-container>
                  <ng-container *ngIf="plan.plan_details == 3">
                    <li>
                      <i class="fa fa-check"></i> Covers Medical Insurance
                    </li>
                    <li>
                      <i class="fa fa-check" aria-hidden="true"></i>
                      Loss of Passport or checked-in baggage
                    </li>
                    <li>
                      <i class="fa fa-check"></i> Trip cancellation & Delay
                    </li>
                    <li><i class="fa fa-check"></i> Compassionate visit</li>
                  </ng-container>
                  <ng-container *ngIf="plan.plan_details == 4">
                    <li>
                      <i class="fa fa-check"></i> Covers Medical Insurance
                    </li>
                    <li>
                      <i class="fa fa-times" aria-hidden="true"></i>
                      Loss of Passport or checked-in baggage
                    </li>
                    <li>
                      <i class="fa fa-times"></i> Trip cancellation & Delay
                    </li>
                    <li><i class="fa fa-times"></i> Compassionate visit</li>
                  </ng-container>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
