<div class="services-area pt-120 pb-60" data-background="assets/img/gallery/section_bg02.jpg">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

  <div class="application-area pt-70 pb-70" data-background="assets/img/gallery/section_bg03.png" id="quote">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-45">
                    <h2>Select your bike Model</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9 col-xl-8">
                <!--Hero form -->
                <div action="#" class="search-box">
                    <div class="select-form">
                        <div class="select-itms">
                            <select name="select" id="select1">
                                <option value="">Bike Model</option>
                                <option value="">HONDA ACTIVA</option>
                                <option value="">BAJAJ PULSAR</option>
                                <option value="">TVS JUPITER</option>
                                <option value="">ROYAL ENFIELD CLASSIC</option>
                                <option value="">SUZUKI ACCESS</option>
                                <option value="">HERO MOTOCORP XTREME</option>
                                <option value="">HERO HONDA SPLENDOR PLUS</option>
                                <option value="">HONDA DREAM YUGA</option>
                                <option value="">SUZUKI BURGMAN</option>
                                <option value="">TVS NTORQ</option>
                                <option value="">KTM 390 ADVENTURE</option>
                                <option value="">KTM 250 ADVENTURE</option>
                                <option value="">Others</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-form">
                        <div class="select-itms">
                            <select name="select" id="select1">
                                <option value="">Registered City</option>
                                <option value="">BENGALURU</option>
                                <option value="">DELHI</option>
                                <option value="">MUMBAI</option>
                                <option value="">HYDERABAD</option>
                                <option value="">AGRA</option>
                                <option value="">BENGALURU</option>
                                <option value="">THANE</option>
                                <option value="">PUNE</option>
                            </select>
                        </div>
                    </div>
                    <div class="select-form">
                        <div class="select-itms">
                            <select name="select" id="select1">
                                <option value="">Registered year</option>
                                <option value="">2022</option>
                                <option value="">2021</option>
                                <option value="">2020</option>
                                <option value="">2019</option>
                                <option value="">2018</option>
                                <option value="">2017</option>
                                <option value="">2016</option>
                                <option value="">2015</option>
                                <option value="">2014</option>
                                <option value="">2013</option>
                                <option value="">2012</option>
                                <option value="">2011</option>
                                <option value="">2010</option>
                            </select>
                        </div>
                    </div>
                    <div class="search-form">
                        <a routerLink="/premium">Next</a>
                    </div>
                  </div>
            </div>
        </div>
    </div>
</div>
