<!-- ****************************************************** -->
<div
  class="services-area pt-120 pb-60"
  data-background="assets/img/gallery/section_bg02.jpg"
>
  <section class="h-100 gradient-form">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-10">
          <div class="card rounded-3 text-black">
            <div class="row g-0">
              <div class="col-lg-6">
                <div class="card-body mx-md-4">
                  <div class="text-center">
                    <img
                      src="assets/img/logo/Logo_bg.png"
                      style="width: 85px"
                      alt="logo"
                    />
                    <h4 class="mt-1 mb-5 pb-1">Enter Vehicle Details</h4>
                  </div>

                  <form>
                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c"
                          >Vehicle Type</label
                        >
                        <!-- <input type="text"  class="form-control" placeholder="Enter Manufacturer Name" /> -->
                        <select
                          class="form-select"
                          id="form3Example1c"
                          aria-label="Default select example"
                        >
                          <option selected>Select Vehicle Type</option>
                          <option value="1">Two wheeler</option>
                          <option value="2">Four wheeler</option>
                        </select>
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-user fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example1c"
                          >Manufacturer</label
                        >
                        <input
                          type="text"
                          id="form3Example1c"
                          class="form-control"
                          placeholder="Enter Manufacturer Name"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-envelope fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example2c"
                          >Model</label
                        >
                        <input
                          type="email"
                          id="form3Example2c"
                          class="form-control"
                          placeholder="Enter Model Name"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-birthday-cake fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example3c"
                          >Purchase Date</label
                        >
                        <input
                          type="date"
                          id="form3Example3c"
                          class="form-control"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c"
                          >Registration Number</label
                        >
                        <input
                          type="text"
                          id="form3Example4c"
                          class="form-control"
                          placeholder="Enter Registration Number"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c"
                          >Chasis Number</label
                        >
                        <input
                          type="text"
                          id="form3Example4c"
                          class="form-control"
                          placeholder="Enter Chasis Number"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c"
                          >Driving License Number</label
                        >
                        <input
                          type="text"
                          id="form3Example4c"
                          class="form-control"
                          placeholder="Enter Driving License Number"
                        />
                      </div>
                    </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <!-- <i class="fas fa-lock fa-lg me-3 fa-fw"></i> -->
                      <div class="form-outline flex-fill mb-0">
                        <label class="form-label" for="form3Example4c"
                          >Pincode</label
                        >
                        <input
                          type="Number"
                          id="form3Example4c"
                          class="form-control"
                          placeholder="Enter Area Pincode"
                        />
                      </div>
                    </div>

                    <div class="text-center pt-1 mb-5 pb-1">
                      <button type="button" class="login-btn">
                        <a
                          href="/plan-page"
                          style="
                            color: #fff;
                            display: block;
                            font-size: 14px;
                            text-decoration: none;
                          "
                          >Proceed</a
                        >
                      </button>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-lg-6 sec-div align-items-center">
                <div class="hero__img">
                  <img
                    class="bike-img"
                    src="assets/img/hero/bike-landing.png"
                    alt=""
                  />
                </div>
                <div class="row" style="margin-top: 30px">
                  <div class="col-md-12 text-sm-center service-block mt-30">
                    <i class="fa fa-bolt" aria-hidden="true"></i>
                    <h3>Instant Service</h3>
                    <p>
                      Never in all their history have men been able truly to
                      conceive of the world as one: a single sphere, a globe,
                      having the qualities of a globe.
                    </p>
                  </div>
                  <div class="col-md-12 text-sm-center service-block">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <h3>Trustworthy</h3>
                    <p>
                      Never in all their history have men been able truly to
                      conceive of the world as one: a single sphere, a globe,
                      having the qualities of a globe.
                    </p>
                  </div>
                  <div class="col-md-12 text-sm-center service-block">
                    <i class="fa fa-leaf" aria-hidden="true"></i>
                    <h3>Zero Hassle</h3>
                    <p>
                      Never in all their history have men been able truly to
                      conceive of the world as one: a single sphere, a globe,
                      having the qualities of a globe.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
