<!-- This is the landing page of the website -->
<main>
  <!-- slider Area Start-->
  <div
    class="slider-area slider-height"
    data-background="assets/img/hero/h1_hero.jpg"
  >
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider">
        <div class="slider-cap-wrapper">
          <div class="hero__caption">
            <p
              data-animation="fadeInLeft"
              data-delay=".2s"
              style="margin-bottom: 0px"
            >
              No one can surely predict the future,
            </p>
            <h1 data-animation="fadeInLeft" data-delay=".5s">
              But with <b class="b-title">SafeSurance</b> you can protect it.
            </h1>
            <!-- Hero Btn -->
            <a
              href="#"
              class="btn btn-outline-dark hero-btn"
              data-animation="fadeInLeft"
              data-delay=".8s"
              *ngIf="!checkLogin()"
              routerLink="/sign-in"
              >SIGN UP</a
            >
          </div>
          <div class="hero__img">
            <img src="assets/img/hero/car-bg.png" alt="" />
          </div>
        </div>
      </div>
      <!-- Single Slider -->
    </div>
    <!-- slider-footer Start -->
    <div class="slider-footer section-bg d-none d-sm-block">
      <div class="footer-wrapper">
        <!-- single -->
        <div class="single-caption" style="padding-left: 10px">
          <div class="caption-icon">
            <span class="flaticon-clock"></span>
          </div>
          <div class="caption">
            <p>Hassle-free Claim</p>
          </div>
        </div>
        <!-- single -->
        <div class="single-caption">
          <div class="caption-icon">
            <span class="flaticon-like"></span>
          </div>
          <div class="caption">
            <p>Tax benefits</p>
          </div>
        </div>
        <!-- single -->
        <div class="single-caption">
          <div class="caption-icon">
            <span class="flaticon-money"></span>
          </div>
          <div class="caption">
            <p>low premium</p>
            <!-- <p>Approvals</p> -->
          </div>
        </div>
      </div>
    </div>
    <!-- slider-footer End -->
  </div>

  <div
    class="services-area pt-120 pb-120"
    data-background="assets/img/gallery/section_bg02.jpg"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
          <!-- Section Tittle -->
          <div class="section-tittle text-center mb-80">
            <span>Services that we are providing</span>
            <h2>
              <b class="b-title">Secure</b> and
              <b class="b-title">smooth</b> services for all kind of insurance.
            </h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat text-center mb-50">
            <div class="cat-icon">
              <span class="flaticon-loan"></span>
            </div>
            <div class="cat-cap">
              <h5><a href="#">Optimal Premium Options</a></h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat text-center mb-50">
            <div class="cat-icon">
              <span class="flaticon-loan-1"></span>
            </div>
            <div class="cat-cap">
              <h5><a href="#">Risk Protection Assistance</a></h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="single-cat text-center mb-50">
            <div class="cat-icon">
              <span class="flaticon-like"></span>
            </div>
            <div class="cat-cap">
              <h5><a href="#">Diverse Insurance Policy</a></h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- This is the premium calculator section -->
  <div
    class="application-area pt-140 pb-140"
    data-background="assets/img/gallery/section_bg03.png"
    id="quote"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-10">
          <!-- Section Tittle -->
          <div class="section-tittle section-tittle2 text-center mb-45">
            <span>Premium calculator</span>
            <h2>Get premium quotation of your vehicle</h2>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-9 col-xl-8">
          <!--Hero form -->
          <div action="#" class="search-box">
            <div class="select-form">
              <div class="select-itms">
                <select name="select" id="select1">
                  <option value="">Select Model</option>
                  <option value="">HONDA ACTIVA</option>
                  <option value="">BAJAJ PULSAR</option>
                  <option value="">TVS JUPITER</option>
                  <option value="">ROYAL ENFIELD CLASSIC</option>
                  <option value="">SUZUKI ACCESS</option>
                  <option value="">HERO MOTOCORP XTREME</option>
                  <option value="">HERO HONDA SPLENDOR PLUS</option>
                  <option value="">HONDA DREAM YUGA</option>
                  <option value="">SUZUKI BURGMAN</option>
                  <option value="">TVS NTORQ</option>
                  <option value="">KTM 390 ADVENTURE</option>
                  <option value="">KTM 250 ADVENTURE</option>
                  <option value="">Others</option>
                </select>
              </div>
            </div>
            <div class="select-form">
              <div class="select-itms">
                <select name="select" id="select1">
                  <option value="">Registered City</option>
                  <option value="">BENGALURU</option>
                  <option value="">DELHI</option>
                  <option value="">MUMBAI</option>
                  <option value="">HYDERABAD</option>
                  <option value="">AGRA</option>
                  <option value="">BENGALURU</option>
                  <option value="">THANE</option>
                  <option value="">PUNE</option>
                </select>
              </div>
            </div>
            <div class="select-form">
              <div class="select-itms">
                <select name="select" id="select1">
                  <option value="">Registered year</option>
                  <option value="">2022</option>
                  <option value="">2021</option>
                  <option value="">2020</option>
                  <option value="">2019</option>
                  <option value="">2018</option>
                  <option value="">2017</option>
                  <option value="">2016</option>
                  <option value="">2015</option>
                  <option value="">2014</option>
                  <option value="">2013</option>
                  <option value="">2012</option>
                  <option value="">2011</option>
                  <option value="">2010</option>
                </select>
              </div>
            </div>
            <div class="search-form">
              <a routerLink="/premium">Get Quote</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
